

/*  listings section  */
/**predicate_view.jsx*/

.listings{
    width: 80%;
    margin: auto;
}

.listings .properties_list{
    list-style: none;
    overflow: hidden;
    padding: 0;
}

.listings .properties_list li:nth-child(4n+0){
    margin-right: 0;
}
.listings .properties_list
{}

.listings ul.properties_list li{
    display: block;
    width: 20.90909090909091%;
    height: auto;
    position: relative;
    float: left;
    margin: 0 2%;
}
.listings ul.properties_list li img.property_img{
    width: 100%;
    height: auto!important;
    vertical-align: top;
}
