/*  General CSS  */
body{
    background: #fff;
}
.listings{
    width: 60%;
    margin: auto;
}

.wrapper{
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

h1, h2, h3, h4, h5 ,h6{
    /*color: #626262;*/
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
}
.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
 
.clearfix {  
    *zoom: 1;  
}


/*  listings section  */
/**predicate_view.jsx*/

.listings{
    width: 80%;
    margin: auto;
}

.listings .properties_list{
    list-style: none;
    overflow: hidden;
    padding: 0;
}

.listings .properties_list li:nth-child(4n+0){
    margin-right: 0;
}

.listings ul.properties_list li{
    display: block;
    width: 20.90909090909091%;
    height: auto;
    position: relative;
    float: left;
    margin: 0 2%;
}
.listings ul.properties_list li img.property_img{
    width: 100%;
    height: auto!important;
    vertical-align: top;
}


/**Write*/
.write{
    width: 80%;
    margin: auto;
}

.w_write{
    padding-left: 2rem;
    display: flex;
}

.w_title p{
    font-size: 1.5rem;
    font-weight: bold;
}

.w_title1{
    padding-left: 1rem;
    font-weight: bold;
}

.w_table{
    display: flex;
}

.w_table1{
    padding-left: 1rem;
    font-weight: bold;
}

.w_table2 label{
    padding-left: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.gender{
    font-size: 1.3rem;
}

.age{
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.buttonBox button{
    margin: 0 0.5%;
}



/**Detail*/
.detail{
    width: 90%;
    margin: auto;
}
.title{
    margin-bottom: 0;
    padding-top:1.5em;
    padding-bottom:1.5em; 
    background-color: #fff;
}
.title1{
    margin-left: 1rem;
    background:rgb(255, 176, 4);
    font-weight: bold;
    color: white;
    border: white;
}
.title h2{
    font-weight: bold;
}
.table-responsive{
    border: 1px solid #dee2e6;
}
.imfo{
    width: 96%;
    margin:4% auto;
}
.imfo1{
    font-size: 1.3rem;
    font-weight: bold;
}
.text{
    width: 96%;
    margin: auto;
}
.map{
    width: 100%;
    margin: auto
}
p{
    font-size:1.2rem;
}