
.footer{
   left: 0;
   bottom: 0;
   width: 100%;
}

.Header{
    background-color: #F2F2F1;
    padding: 1% 0 ;
    /**background: linear-gradient( to bottom, #f8f9fa 94%, rgba(238, 237, 237, 0.986) 1% );*/
}
.HeaderScroll{
    position: fixed;
    width: 100%;
    top:0;
}

.navbar-brand{
    font-weight: bold;
}
.navbar-nav{
    margin-right: 1.5em;
}
.navbar-light .navbar-nav .nav-link{
    font-weight: bold;
    color: rgb(63, 60, 60);
}
.mr-auto{
    margin-left: 10%;
}



/**반응*/

.navbar-toggler{
    margin-right: 3%;
}
.navbar-collapse {
    
}