body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f9f9f9;
}

th {
  border-left: 1px solid white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.a{
  margin-left: 4rem;
}

.b{
  width:800px;
  font-size: 20px;
  padding-left: 3em;
  margin-left: 20rem;
}

.c {
  font-size: 20px;
  font-weight: bold;
  color: rgb(221, 221, 221);
  padding-right:20px;
}

.d {
  padding-right:20px;
}

.e{
  margin-left: 5.5rem;
}

.f{
  border : 2px solid rgb(255, 115, 0);
  width: 30%;
  margin-left:0px;
}

.g{
  padding-left:65px;
  padding-right:30px;
}

.h{
  padding-left:65px;
  padding-right:55px;
}

.i{
  margin-left:52px;
}

.j{
  font-size: 25px;
  font-weight: bold;
}

.k{
  color: rgb(255, 115, 0);
}

.l{
  margin-left: 2rem;
}

.pa{
  background: rgb(235, 235, 235);
}

.ta {
  background: white;
  border: 1px solid white;
  width : 250px;
  height: 320px;
  margin-top: 2rem;
}

.tc{
  margin-left : 10rem;
}

td:first-child{
  padding-right:50px;
}

.tf{
  background: white;
  border: 1px solid white;
  width : 250px;
  height: 800px;
  margin-top: 4rem;
  margin-left: 10rem;
}

.tg{
  background: white;
  border: 1px solid white;
  width : 1000px;
  height: 600px;
  margin-top: -50rem;
  margin-left: 30rem;
}

.tj{
  background: white;
  border: 1px solid white;
  width : 1000px;
  height: 150px;
  margin-top: 3rem;
  margin-left: 30rem;
}

.aa{
  font-size: 15px;
  padding-left: 3em;
  font-weight: bold;
}

.bb{
  font-size: 25px;
  padding-left: 1.7em;
  font-weight: bold;
}

.cc{
  font-size: 17px;
  font-weight: bold;
}

.dd {
  font-size: 15px;
  font-weight: bold;
  color: red;
  margin-left: 15rem;
}

.ee{
  width: 370px;
  border-top : 2px solid rgb(207, 207, 207);
  border-right : 2px solid rgb(207, 207, 207);
  border-left : 2px solid rgb(207, 207, 207);
  margin-right: 20rem;
}

.pp{
  font-size: 30px;
  color:rgb(248, 143, 6);
  letter-spacing: 10px;
  padding-left: 3em;
  font-weight: bold;
}

.ae {
  font-size: 20px;
  font-weight: bold;
}

.be {
  font-size: 15px;
  font-weight: bold;
  margin-left: 1rem;
}

.ce {
  font-size: 15px;
  font-weight: bold;
}

.de{
  width: 500px;
  border-bottom : 2px solid rgb(207, 207, 207);
  border-left : 2px solid rgb(207, 207, 207);
  border-right : 2px solid rgb(207, 207, 207);
}

.fe {
  font-size: 15px;
  font-weight: bold;
  padding-left: 1rem;
}

.ge {
  width: 600px;
  margin-left: 1rem;
  border : 2px solid rgb(207, 207, 207);
}

.he {
  background: #e2e1e1;
  font-size: 15px;
  font-weight: bold;
}

.je {
  font-size: 15px;
  font-weight: bold;
  margin-left: 13rem;
}

.re {
  border : 1px solid rgb(240, 238, 238);
}

.ad {
  width: 800px;
  border-top : 2px solid rgb(207, 207, 207);
  border-right : 2px solid rgb(207, 207, 207);
  border-left : 2px solid rgb(207, 207, 207);
  border-bottom : 2px solid rgb(207, 207, 207);
  margin-left: 15rem;
}

.bd {
  font-size: 15px;
  font-weight: bold;
  padding-left: 2rem;
}

.cd {
  font-size: 15px;
  font-weight: bold;
  margin-left: 15rem;
}

.ed{
  width: 370px;
  border-top : 2px solid rgb(207, 207, 207);
  border-right : 2px solid rgb(207, 207, 207);
  border-left : 2px solid rgb(207, 207, 207);
  margin-left: 20rem;
}

.fd {
  background: #e2e1e1;
  font-size: 15px;
  font-weight: bold;
  padding-left: 2rem;
}

.gd {
  font-size: 30px;
  font-weight: bold;
}

.ai {
  width: 570px;
  border-bottom : 2px solid rgb(207, 207, 207);
  border-left : 2px solid rgb(207, 207, 207);
  border-right : 2px solid rgb(207, 207, 207);
}

.bi {
  width: 570px;
  padding-left:20px;
  border-top : 2px solid rgb(207, 207, 207);
  border-left : 2px solid rgb(207, 207, 207);
  border-right : 2px solid rgb(207, 207, 207);
}

.ci{
  width:860px;
  font-size: 20px;
  padding-left: 2em;
  margin-left: 20rem;
  background: rgb(199, 197, 197);
}

.di {
  margin-top: -20.5rem;
  margin-left: 51.5rem;
}

.li {
  border : 1px solid rgb(240, 238, 238);
  width: 860px;
  margin-left: 20rem;
}

.pi{
  font-size: 20px
}

.ti{
  text-align: center;
  color:black;
}

.ui{
  width:740px;
  font-size: 20px;
  padding-left: 3em;
  margin-left: 20rem;
  background: rgb(199, 197, 197);
}

.am {
  font-size: 20px;
  font-weight: bold;
  margin-right: 4rem;
}

.bm {
  padding-top: 1rem;
  padding-left: 1rem;
}

.cm {
  margin-left: 9px;
  border: 2px solid rgb(207, 207, 207);
  width: 580px;
  background: #eeecec;
}

.dm {
  border-bottom: 1px solid rgb(255, 115, 0);
}

.em {
  border: 1px solid rgb(207, 207, 207);
}

.fm {
  color : rgb(255, 115, 0);
  font-size: 18px;
  font-weight: bold;
}

.gm {
  margin-left: 9px;
  margin-top : 15px;
  border: 2px solid rgb(207, 207, 207);
  width: 580px;
}

.hm {
  margin-left: 4rem;
}

.im {
  margin-left: 2rem;
}

.um{
  width:740px;
  font-size: 20px;
  padding-left: 4.3em;
  margin-left: 20rem;
  background: rgb(199, 197, 197);
}

.ao{
  width: 800px;
  padding-left:20px;
  border : 2px solid rgb(207, 207, 207);
}

.bo{
  width: 500px;
  padding-left:20px;
  border-top : 2px solid rgb(207, 207, 207);
  border-left : 2px solid rgb(207, 207, 207);
  border-right : 2px solid rgb(207, 207, 207);
}

.eo{
  width: 332.5px;
}

.er{
  width: 332.5px;
  border-right : 3px solid rgb(207, 207, 207);
}

.ex{
  margin-top: -3rem;
  margin-right: 13.5rem;
  font-weight: bold;
}

.title {
  width : 1000px;
  text-align: center;
  background: #22b8cf;
  color: white;
}

.tit{
  font-size: 1rem;
  font-weight: bold;
}

.titl {
  width : 1000px;
  font-size: 1rem;
  text-align: center;
  background: #22b8cf;
  margin-top: -1.5rem;
  color: white;
}

.resume{
  width : 800px;
  margin-top: -20rem;
  margin-left: 20rem;
  border-top: 2px solid #e2e1e1;
  background: white;
}

.resu {
  font-size: 20px;
  font-weight: bold;
  margin-right: 2rem;
}

.res {
  font-size: 17px;
  font-weight: bold;
  margin-right: 1rem;
}

.header{
  margin-top: 2rem;
  margin-right: 13.5rem;
}

.head{
  margin-top: 2rem;
  margin-left: 15rem;
  color:rgb(248, 143, 6);
}

.head2{
  margin-left: 15rem;
}

.info{
  margin-top: 5rem;
  margin-left: 15rem;
}

.line{
  border : 3px solid rgb(248, 143, 6);
}

.lin{
  border : 1px solid rgb(240, 238, 238);
  width: 740px;
  margin-left: 20rem;
}

.lin2{
  border : 1px solid rgb(240, 238, 238);
  width: 740px;
  margin-left: -4rem;
}