.BoardBox{
    width:30%;
}
.card{
    position:static;
}
.card-deck{
    margin: 5% 0;
}

.B_PreviewMoreBox{
    width: 15%;
    clear: both;
    margin: 5% auto;
    text-align: center;
}


/*  listings section  */
.Board_listings{
    width: 80%;
    margin: 3% auto;
    
}
.Board_listings .listingsMainTitle
{
    width: 96%;
    margin: auto;
    margin-bottom:1%; 
}
.Board_listings .listingsMainTitle h1{
 font-size: 2em;
 line-height: 1.5em;
 font-weight: bold;
}
.Board_listings .listingsMainTitle p{
    font-size: 1.2em;
}
.Board_listings .listingsMainTitle p{
    font-size: 1.2em;
}
.Board_listings .properties_list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    overflow: hidden;
    padding: 0;
}
.Board_listings .properties_list li:nth-child(4n+0){
    margin-right: 0;
}
.Board_listings ul.properties_list li{
    display: block;
    width: 18.90909090909091%;
    height: auto;
    position: relative;
    margin: 2% 2.5%;
}
.BoardList_Card{
   border: 2px solid #cbced3;
   text-overflow: ellipsis;
   overflow: hidden;
}
.card-title{
white-space: nowrap; text-overflow: ellipsis; overflow: hidden;
font-weight: bold;
}
.card-text{
white-space: nowrap; text-overflow: ellipsis; overflow: hidden;
}
.d-flex{
    margin:5% auto;

}


@media (max-width:1500px) {

    .Board_listings .properties_list li:nth-child(4n+0){
        margin-right: 0;
    }
    .Board_listings .properties_list
    {}
    

    .Board_listings ul.properties_list li img.property_img{
        width: 100%;
        height: auto!important;
        vertical-align: top;
    }

}

@media (max-width: 1150px){

}
@media  (max-width:900px){

    .Board_listings .properties_list li:nth-child(3n+0){
        margin-right: 0;
    }
    .Board_listings ul.properties_list li{
        display: block;
        width: 20.90909090909091%;
        height: auto;
        position: relative;
        float: left;
        margin: 0 2%;
    }
    .Board_listings ul.properties_list li img.property_img{
        width: 100%;
        height: auto!important;
        vertical-align: top;
    }

}
@media (max-width:700px){
    .Board_listings .properties_list li:nth-child(3n+0){
        margin-right: 0;
    }
    .Board_listings ul.properties_list li{
        width: 100%;
        margin-bottom: 60px!important;
        float: none;
    }

}


@media (max-width:500px){
    .Board_listings ul.properties_list li{
        width: 100%;
        margin-bottom: 60px!important;
        float: none;
    }

}

@media (min-width:300px) and (max-width:500px) {
    .Board_listings ul.properties_list li{
        width: 100%;
        margin-bottom: 60px!important;
        float: none;
    }
    .Board_listings ul.properties_list li img.property_img{
        display: block;
        width: 100%;
        height: auto!important;
        vertical-align: top;
    }

}


