/**Main,jsx*/
.Mainbody{
    width: 100%;

    background-color: #ffff;
}
button a{
    color: #ffff;
}
button a:hover{
    color: #ffff;
    text-decoration: none;
}

/**Jumbo,jsx*/
.MainTex{
    font-size: 1rem;
    color: #1a85f0
}
.MainTex1{
    font-size: 2rem;
    font-weight: bold;
}
.MainTex2{
    font-size: 1.5rem;
}
.m1{
    width: 100%;
    height: 500px;
    background-color:#0c151c;
}
.m1_1{
    position: relative;
    height: 100%;
    width: 80%;
}
.MainTexBox{
    font-family:"NotoSans-Bold";
    text-align: center;
    padding-top:8%; 
    width: 80%;
    margin:auto;
    color: #ffff;
    font-size: 2em;
}
.MainTexBox_1{
 text-align: left;
    float: left;
}

/**Introduce.jsx*/
.m2{
    width: 80%;
    margin: 4% auto;
}
.card1{
    padding-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

/**predicate_view.jsx, BestView.jsx*/
.m3{
    margin: 5% 0;
}
.m4{
    margin: 5% 0;
}
.listingsMain{
    width: 80%;
    margin: auto;
    
}
.listingsMain .listingsMainTitle
{
    width: 96%;
    margin: auto;
    margin-bottom:1%; 
}
.listingsMain .listingsMainTitle h1{
 font-size: 2em;
 line-height: 1.5em;
 font-weight: bold;
}
.listingsMain .listingsMainTitle p{
    font-size: 1.2em;
}
.listingsMain .listingsMainTitle p{
    font-size: 1.2em;
}
.listingsMain .properties_list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    overflow: hidden;
    padding: 0;
}
.listingsMain .properties_list li:nth-child(4n+0){
    margin-right: 0;
}
.listingsMain ul.properties_list li{
    display: block;
    width: 18.90909090909091%;
    height: auto;
    position: relative;
    margin: 0 2.5%;
}
.listingsMain ul.properties_list li img.property_img{
    width: 100%;
    height: auto!important;
    vertical-align: top;
}


.more_listing_btn{
    text-decoration: none;
    padding: 1.5em 3em;
    border: 2px solid #bfd9f1;
    border-radius: 30px;
    color: #afcbe6;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    transition: all .2s linear;
    background-color: #ffff;
}

.more_listing_btn:hover{
    color: #a0c3e5;
    border: 2px solid #a0c3e5;    
    text-decoration: none;
}

/**FooterInfo*/

.footerInfoBox{
    font-family: "NotoSans-Bold";
    font-size: 1em;
    margin-bottom: 0 !important;
    background-color:#ffff;
}

.footerInfo{
    font-weight: bold;
}

.footerInfo1{
    font-size: 1.2rem;
}
.PreviewMoreBox{
    width: 15%;
    clear: both;
    margin: auto;
    text-align: center;
}


@media (max-width:1500px) {
    .PreviewMoreBox{
        width: 15%;
        clear: both;
        margin: auto;
        text-align: center;
    }

    .listingsMain .properties_list li:nth-child(4n+0){
        margin-right: 0;
    }
    .listingsMain .properties_list
    {}
    
    .listingsMain ul.properties_list li{
        display: block;
        width: 20.90909090909091%;
        height: auto;
        position: relative;
        float: left;
        margin: 0 2%;
    }
    .listingsMain ul.properties_list li img.property_img{
        width: 100%;
        height: auto!important;
        vertical-align: top;
    }

}

@media (max-width: 1150px){
    .PreviewMoreBox{
        width: 80%;
        margin: auto;
        text-align: center;
    }

}
@media  (max-width:900px){

    .PreviewMoreBox{
        width: 80%;
        margin: auto;
        text-align: center;
    }
    .more_listing_btn{
        padding: 1.2em 2.5em;
    }
    .listingsMain .properties_list li:nth-child(3n+0){
        margin-right: 0;
    }
    .listingsMain ul.properties_list li{
        display: block;
        width: 20.90909090909091%;
        height: auto;
        position: relative;
        float: left;
        margin: 0 2%;
    }
    .listingsMain ul.properties_list li img.property_img{
        width: 100%;
        height: auto!important;
        vertical-align: top;
    }

}
@media (max-width:700px){
    .listingsMain .properties_list li:nth-child(3n+0){
        margin-right: 0;
    }
    .listingsMain ul.properties_list li{
        width: 100%;
        margin-bottom: 60px!important;
        float: none;
    }

}


@media (max-width:500px){
    .PreviewMoreBox{
        width: 50%;
        margin: auto;
        text-align: center;
    }
    .listingsMain ul.properties_list li{
        width: 100%;
        margin-bottom: 60px!important;
        float: none;
    }

}

@media (min-width:300px) and (max-width:500px) {

    .PreviewMoreBox{
        width: 50%;
        height: 10%;
        margin-bottom: 20%;
    }
    .more_listing_btn{
        padding: 1.5em 2.5em;
    }
    .listingsMain ul.properties_list li{
        width: 100%;
        margin-bottom: 60px!important;
        float: none;
    }
    .listingsMain ul.properties_list li img.property_img{
        display: block;
        width: 100%;
        height: auto!important;
        vertical-align: top;
    }

}








