
/** common*/
.imfop{
    font-size: 1.3rem;
    font-weight: bold;
    margin: 1% 1%;
}
.table{
    margin-bottom: 0 !important;
}

.w_choo1{
    float: left;
    width: 46% !important;
}
.w_choo2{
  float: left;
  text-align: center;
  width: 8%;
}
.w_choo3{
    width: 46% !important;
}
.w_choo3::after{
    clear: both;
}


.w_table{
    display: flex;
}

.w_table1{
    padding-left: 1rem;
    font-weight: bold;
}

.w_table2 label{
    padding-left: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}



.write{
    width: 80%;
    margin: 3% auto;
}
.write h2{
    margin-bottom: 3%;
}
/**title*/
.w_write{
   width: 100%;
   margin: auto;
  
}

/**Recruit*/
.imfo{
    width: 100%;
    margin:4% auto;
}


/**Location*/
.w_Location{
    width: 100%;
    margin: auto;
}



.gender{
    font-size: 1.3rem;
}

.age{
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.buttonBox button{
    margin: 0 0.5%;
}
