/** common*/



.write{
    width: 80%;
    margin: 5% auto;
}
.W_imfo{
    width: 100%;
    margin:4% auto;
}
.write h2{
    margin-bottom: 3%;
}

.gender{
    font-size: 1.3rem;
}

.age{
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.buttonBox button{
    margin: 0 0.5%;
}